/*FONTS*/
@font-face {
  src: url(assets/font/JetBrainsMonoNLNerdFont-ExtraBold.ttf);
  font-family: JetBrainsMonoNL NF ExtraBold;
}

@font-face {
  src: url(assets/font/JetBrainsMonoNerdFont-SemiBold.ttf);
  font-family: JetBrainsMono NF SemiBold;
}

@font-face {
  src: url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
  font-family: awesome-font;
}

/*MAIN ELEMENTS*/
header {
  margin: 15px;
}

h1 {
  color: #06080a;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  margin-bottom: 0px;
}

h3 {
  color: #06080a;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  margin-top: 3px;
  margin-bottom: 20;
}

body {
  background-color: #282828;
}

table {
  border-collapse: collapse;
}

td {
  height: 30px;
  width: 135px;
  border: 4px solid;
}

th {
  width: 50px;
  border: 4px solid;
}

/*UNIVERSAL CLASS AND ID??*/
.form1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
  flex-direction: column;
}

.form1_1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

#box1 {
  width: 475px;
  height: 80px;
  background-color: #7da6ff;
  border-radius: 20px;
  margin: 0 auto;
  box-shadow: 3px 3px 5px;
}

/*MAIN.HTML*/

/*.box {
  animation-name: slideUp;
  animation-duration: 1.5s;
}*/

/*.error {
  animation-name: box_slideUp;
  animation-duration: 1.5s;
}*/

.process_buttons_decrease {
  height: 50px;
  width: 50px;
  color: #282828;
  font-size: 32px;
  font-family: "JetBrainsMono NF SemiBold";
  font-style: normal;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius: 25px;
  box-shadow: 0 7px #3c3836;
  cursor: pointer;
}

.process_buttons_decrease:active {
  transform: translateY(4px);
}

.process_buttons_increase {
  height: 50px;
  width: 50px;
  color: #282828;
  font-size: 32px;
  font-family: "JetBrainsMono NF SemiBold";
  font-style: normal;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 15px;
  border-radius: 25px;
  box-shadow: 0 7px #3c3836;
  cursor: pointer;
}

.process_buttons_increase:active {
  transform: translateY(4px);
}

.labels_process {
  color: #282828;
  font-size: 24px;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  font-style: normal;
  margin-bottom: 20px;
}

#wrapper {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  width: auto;
  animation-name: form_slideUp;
  animation-duration: 2s;
}

#input {
  margin: 50px;
}

#box2 {
  width: 700px;
  height: 275px;
  background-color: #ebdbb2;
  color: #282828;
  border-radius: 15px;
  text-align: center;
  margin: auto;
  box-shadow: 3px 3px 5px;
}

#info_box {
  position: absolute;
  width: 350px;
  height: 275px;
  background-color: #fe8019;
  border-bottom-right-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
}

#header {
  font-size: 22px;
}

#process {
  color: #282828;
  font-size: 32px;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  font-style: normal;
  margin-top: 5px;
}

#button_align {
  display: flex;
  justify-content: flex-end;
}

#button1 {
  width: 50px;
  height: 40px;
  font-size: 16px;
  font-family: "JetBrainsMono NF SemiBold";
  font-style: normal;
  color: #ebdbb2;
  background-color: #282828;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 7px #3c3836;
  cursor: pointer;
}

#button1:active {
  background-color: #282828;
  transform: translateY(4px);
}

#decrease {
  background-color: #cc241d;
}

#decrease:hover {
  background-color: #fb4934;
}

#increase {
  background-color: #689d6a;
}

#increase:hover {
  background-color: #8ec07c;
}

/*PROCESS.HTML*/

.form2 {
  display: grid;
  justify-content: center;
  align-items: center;
}

#box3 {
  width: 650px;
  height: 250px;
  background-color: #fe8019;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 3px 3px 5px;
  animation-name: form_slideUp;
  animation-duration: 1.5s;
}

#box3_5 {
  width: 650px;
  height: 300px;
  background-color: #fe8019;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 3px 3px 5px;
  animation-name: form_slideUp;
  animation-duration: 1.5s;
}

#box3_6 {
  width: 650px;
  height: 330px;
  background-color: #fe8019;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 3px 3px 5px;
  animation-name: form_slideUp;
  animation-duration: 1.5s;
}

#box3_7 {
  width: 650px;
  height: 360px;
  background-color: #fe8019;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 3px 3px 5px;
  animation-name: form_slideUp;
  animation-duration: 1.5s;
}

#box3_8 {
  width: 650px;
  height: 390px;
  background-color: #fe8019;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  box-shadow: 3px 3px 5px;
  animation-name: form_slideUp;
  animation-duration: 1.5s;
}

#tables {
  color: #282828;
  font-size: 18px;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  font-style: normal;
  text-align: center;
}

.cell {
  display: grid;
  width: 135px;
  height: 25px;
  font-family: "JetBrainsMono NF SemiBold";
  font-size: 20px;
  align-items: center;
  text-align: center;
  color: #282828;
  background-color: #fe8019;
  border: none;
  outline: none;
}

.cell:focus {
  background-color: #d65d0e;
}

#previous {
  width: 40px;
  height: 40px;
  font-size: 24px;
  margin-right: 5px;
  font-family: "JetBrainsMono NF SemiBold";
  font-style: normal;
  background-color: #00000000;
  border-color: #00000000;
}

#previous:hover {
  color: #ebdbb2;
}

#compute {
  width: 40px;
  height: 40px;
  margin-right: 7;
  font-size: 24px;
  font-family: "JetBrainsMono NF SemiBold";
  font-style: normal;
  background-color: #00000000;
  border-color: #00000000;
}

#compute:hover {
  color: #fbf1c7;
}

.buttons {
  display: grid;
  align-items: center;
  justify-content: center;
}

#flex {
  display: flex;
  justify-content: center;
  margin-top: 200px;
}

#box4 {
  width: 60px;
  height: 125px;
  background-color: #d79921;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-left: 5px;
  box-shadow: 3px 3px 5px;
  animation-name: form_slideUp;
  animation-duration: 1.5s;
}

#box5 {
  /*width: 800px;*/
  height: auto;
  /*background-color: #2c324a;*/
  border-radius: 15px;
  margin: 20px auto;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
  display: none;
  visibility: hidden;
}

#box5_5 {
  /*width: 800px;
  height: 575px;
  background-color: #2c324a;*/
  border-radius: 15px;
  margin: 20px auto;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
  display: none;
  visibility: hidden;
}

#box5_6 {
  /*width: 800px;
  height: 615px;
  background-color: #2c324a;*/
  border-radius: 15px;
  margin: 20px auto;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
  display: none;
  visibility: hidden;
}

#box5_7 {
  /*width: 800px;
  height: 635px;
  background-color: #2c324a;*/
  border-radius: 15px;
  margin: 20px auto;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
  display: none;
  visibility: hidden;
}

#box5_8 {
  /*width: 800px;
  height: 655px;
  background-color: #2c324a;*/
  border-radius: 15px;
  margin: 20px auto;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
  display: none;
  visibility: hidden;
}

#box6 {
  width: 710px;
  height: 200px;
  background-color: #ebdbb2;
  border-radius: 10px;
  margin-bottom: 5px;
  box-shadow: 3px 3px 5px;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
}

#gantt {
  /*height: 50px;*/
  color: #282828;
  font-size: 36px;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  font-style: normal;
  margin-top: 20px;
}

#chart {
  display: flex;
  width: auto;
  align-items: flex-start;
}

.group {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.time_title {
  height: 30px;
  color: #282828;
  font-size: 32px;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  font-style: normal;
  margin-top: 20px;
}

.time_content {
  /*height: 50px;*/
  color: #282828;
  font-size: 20px;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  font-style: normal;
  margin: 10px;
}

.time_subcontent {
  color: #282828;
  font-size: 18px;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  font-style: normal;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.timestamp {
  color: #282828;
  font-size: 14px;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  font-style: normal;
  margin-top: 1px;
}

#box7_1 {
  width: 350px;
  height: 250px;
  background-color: #458588;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 3px 3px 5px;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
}

#box7_2 {
  width: 350px;
  height: 250px;
  background-color: #458588;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 3px 3px 5px;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
}

#box7_5 {
  width: 350px;
  height: 270px;
  background-color: #458588;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 3px 3px 5px;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
}

#box7_6 {
  width: 350px;
  height: 320px;
  background-color: #458588;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 3px 3px5px;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
}

#box7_7 {
  width: 350px;
  height: 340px;
  background-color: #458588;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 3px 3px 5px;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
}

#box7_8 {
  width: 350px;
  height: 370px;
  background-color: #458588;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 3px 3px 5px;
  animation-name: box_slideUp;
  animation-duration: 1.5s;
}

#gantt_chart {
  color: #282828;
  font-size: 20px;
  font-family: "JetBrainsMonoNL NF ExtraBold";
  font-style: normal;
}

#margin0 {
  width: 65px;
}

#margin1 {
  width: 65px;
}

#margin2 {
  width: 65px;
}

#margin3 {
  width: 65px;
}

#margin4 {
  width: 65px;
}

#margin5 {
  width: 65px;
}

#margin6 {
  width: 65px;
}

#margin7 {
  width: 65px;
}

#margin8 {
  width: 65px;
}

#margin9 {
  width: 65px;
}

/*IDK WTF IS DIS*/

.text {
  width: 100px;
  font-size: 24px;
  font-family: "JetBrainsMono NF SemiBold";
  font-style: normal;
  background-color: #e9ebf1;
  border-radius: 7px;
  border: 1px solid #2c324a;
  margin-top: 7px;
  margin-bottom: 7px;
}

html {
  scroll-behavior: smooth;
}

#popup {
  width: 200px;
  background: #ebdbb2;
  border-radius: 7px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  height: 210px;
  color: #282828;
  visibility: hidden;
  transition:
    transform 0.4s,
    top 0.4s;
}

.popup img {
  width: 75px;
  margin-top: -35px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 75px;
  padding: 10px 0;
  border-radius: 10px;
  border: 0px;
  background-color: #282828;
  color: #ebdbb2;
  cursor: pointer;
  font-size: 20px;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
}

.close-popup {
  visibility: hidden;
  top: 0%;
  transform: translate(-50%, -50%) scale(0.1);
}

/*ANIMATIONS*/
@keyframes slideUp {
  from {
    transform: translateY(50%);
  }

  0% {
    opacity: 0;
  }
}

@keyframes form_slideUp {
  from {
    transform: translateY(10%);
  }

  0% {
    opacity: 0;
  }
}

@keyframes box_slideUp {
  from {
    transform: translateY(10%);
  }

  0% {
    opacity: 0;
  }
}

/*NEW COLORS FOR DESIGN
GruvboxDark  = [
    ["#3c3836", "#3c3836"], # 0
    ["#665c54", "#665c54"], # 1
    ["#ebdbb2", "#ebdbb2"], # 2
    ["#d5c4a1", "#d5c4a1"], # 3
    ["#928374", "#928374"], # 4
    ["#000000", "#000000"], # 5
    ["#cc241d", "#cc241d"], # 6
    ["#fb4934", "#fb4934"], # 7
    ["#98971a", "#98971a"], # 8
    ["#b8bb26", "#b8bb26"], # 9
    ["#d79921", "#d79921"], # 10
    ["#fabd2f", "#fabd2f"], # 11
    ["#458588", "#458488"], # 12
    ["#83a598", "#83a598"], # 13
    ["#b16268", "#b16268"], # 14
    ["#d3869b", "#d3869b"], # 15
    ["#689d6a", "#689d6a"], # 16
    ["#8ec07c", "#8ec07c"], # 17
    ["#d65d0e", "#d65d0e"], # 18
    ["#fe8019", "#fe8019"], # 19
    ["#282828", "#282828"], # 20
    ["#00000000", "#00000000"] # 21
    ]
*/
